/*global*/

body {
  font-family: 'Didot', sans-serif;
  color: #FAF3BC;
  background: black;
}

a {
  color: #4FB69F;
  text-decoration: none;
}

img {
  max-width: 100%;
  height:auto;
}

/*typography*/



h1 {
  font-size: 4.750em;
  letter-spacing: -1.5px;
  text-align: center
}

h2 {
  font-size: 1.500em;
  color: #F5F5DC;
}
h3 {
  font-size: 1.25em;
  color: #F5F5DC;
}


.btn {
  color: #FAF3BC;
  background: #4FB69F url('img/texture.png') no-repeat right top;
  padding: 15px 30px;
  margin: 10px 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #4CC4A7;
}

ul.nav {
  margin: 120px 0 0 0;
  list-style: none;
  float: right;
}

ul.nav li {
  float: left;
  margin-right: 40px;
}

ul.nav li a {
  color: #FAF3BC;
}

#intro {
  margin: 50px 0 75px 0;
}

#dna1 img {
  height: auto;
  
}

#new-cupcakes img {
  border: 1px solid #FAF3BC;
  margin: 0 0 10px 0;
}

#featured-cupcake img {
  border: 1px solid #FAF3BC;
}

#copyright {
  border-top: 8px solid #2A0400;
   padding: 10px 0px;
  margin: 10px 0px;
  text-align: center;
}
#grid_4
{
border: 8px solid #FAF3BC;
}

/*media queries*/
/* iphone ---------- */
@media screen and (max-width: 480px) {

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 { width: 100.0%;

}

#nav ul {
  float: left;
  margin:5% 0;
}

#nav ul{
  float: left;
  margin:5% 0;
}

#nav ul li.dna {
  width: 25%;
}
#nav ul li.hgp {
  width: 25%;
}
#nav ul li.oldest {
  width: 25%;
}
#nav ul li.last {
  width: 25%;
}
 
#messier87
{
  max-width: 100%
}

#featured-cupcake, #new-cupcakes{
  margin:5% 0;
}

#new-cupcakes img{
  max-width: 95%;
}
}















